.container {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 2;
    border: rgb(216, 216, 216) 1px solid;
    filter: drop-shadow(0px 0px 2px rgb(216, 216, 216));
    z-index: 99;
    display: grid;
    grid-template-columns: auto 30px 50px;

    .iconContainer {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    .settingsIcon {
        width: 30px;
        font-size: 2rem;
        margin: auto auto;
        padding: 0.5rem;
        border-radius: 50%;
        cursor: pointer;
        background-color: white;
        transform: rotate(0deg);
        filter: none;

        &:hover {
            transition: cubic-bezier(.5,.62,.22,.87) 150ms;
            transform: scale(1.01) rotate(45deg);
            filter: drop-shadow(0px 0px 2px rgba(100, 100, 100, 0.3));
        }
    }

}