// Semester Class styling
.container {
    box-sizing: border-box;
    height: auto;
    // min-height: 150px;
    // max-height: 600px;
    width: 80%;
    min-width: 250px;
    // max-width: 400px;
    padding: 3ch 3ch;
    margin: 20px auto;
    border: 0.1rem solid rgb(197, 197, 197);
    background-color: white;
    border-radius: 0.8rem;
    filter: drop-shadow(0px 0px 2px rgba(100, 100, 100, 0.3));
    text-align: left;

    &:hover {
        transition: cubic-bezier(.5,.62,.22,.87) 150ms;
        transform: scale(1.01);
        filter: drop-shadow(0px 3px 2px rgba(100, 100, 100, 0.3));
    }

    .title {
        margin: 0px;
        padding: 0px;
        // border-bottom: grey 0.1rem solid;

        strong {
            margin: 10px 0px 0px 0px;
            padding:0px;
        }

        p {
            color: grey;
            opacity: 0.7;
            font-size: 0.8rem;
            margin:0px;
            padding:0px;
        }
    }

    .module_container {
        margin-top: 2ch;
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: 100%;
    }

    .footer {
        height: auto;
        width: 100%;
        padding: 0ch 1ch;
        padding-top: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        
        .footerIcon {
            margin: auto 0;
        }

        input {
            border: none;
            outline: none;
            text-decoration: none;
            background-color: none;
            margin-left: 2ch;
            width: 100%;
            margin: auto;
        }
    }
}

// Module Class styling
.module {
    position: relative;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 20px auto;
    width: 100%;
    height: auto;
    border-radius: 0.8rem;
    padding: 0.2rem 0.8rem;
    margin: 0.1rem 0px;
    background-color: white;
    transition: cubic-bezier(.5,.62,.22,.87) 150ms;

    // &:hover {
    //     transform: translateX(-2px);
    //     filter: drop-shadow(0px 1px 1px rgba(100, 100, 100, 0.3));
    // }

    p {
        box-sizing: border-box;
        margin: 0.1ch 0.5ch;
        margin-left: 1ch;
        grid-column: 2;
        grid-row: 1;
    }

    .codeContainer {
        padding: 0rem;
        border-radius: 0.6rem;
        // filter: drop-shadow(0px 0px 2px rgba(0,0,0,0.3));
        background-color: rgba(0,0,185,0.1);
    }

    .tagContainer {
        grid-column: 3;
        grid-row: 1;
        display: flex;
        flex-direction: row;
    }

    .dashIcon {
        box-sizing: border-box;
        margin: auto 0;
        font-size: 0.5rem;
        margin: auto 0;
        padding: auto 0;
        color: black;
    }

    .deleteIcon {
        box-sizing: border-box;
        color: red;
        margin: auto 0;
        padding: auto 0;
        cursor: pointer;
        font-size: 1rem;
        transform: rotate(0deg);
        transition: cubic-bezier(.15,.84,.25,1.1) 50ms;


        &:hover {
            transform: scale(1.1) rotate(90deg);
            filter: drop-shadow(0px 0px 1px rgba(255, 0, 0, 0.3));
        }
    }

}