.container {
    grid-column: 1;
    grid-row-start: 2;
    height: auto;
    min-height:75vh;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    overflow-y: auto;
    // background-image: url('https://images.pexels.com/photos/924824/pexels-photo-924824.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    // background-color: rgb(57, 29, 134);
    background-color: whitesmoke;
}