// Semester Class styling
.container {
    box-sizing: border-box;
    height: auto;
    min-height: 150px;
    max-height: 600px;
    width: auto;
    min-width: 250px;
    max-width: 400px;
    padding: 3ch 3ch;
    margin: 20px;
    border: 0.1rem solid grey;
    background-color: white;
    border-radius: 0.5rem;
    // filter: drop-shadow(0px 1px 2px #cccccc);
    text-align: left;

    .title {
        margin: 0px;
        padding: 0px;
        border-bottom: grey 0.1rem solid;

        strong {
            margin: 10px 0px 0px 0px;
            padding:0px;
        }

        p {
            color: grey;
            opacity: 0.7;
            font-size: 0.8rem;
            margin:0px;
            padding:0px;
        }
    }

    .module_container {
        margin-top: 1ch;
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: 100%;
    }

    .footer {
        height: auto;
        width: 100%;
        padding: 0ch 1ch;
        display: flex;
        flex-direction: row;
        align-items: center;
        
        input {
            border: none;
            outline: none;
            text-decoration: none;
            background-color: none;
            margin-left: 2ch;
            width: 100%;
            margin: auto;
        }
    }
}

// Module Class styling
.module {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 100%;
    height: auto;
    border-radius: 0.2rem;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px;

    p {
        margin: 1ch;
    }

    .listmarker {
        height: 50%;
        width: 25px;
        background-color: blue;
    }

    .dashIcon {
        margin: auto 0;
    }

    .deleteIcon {
        color: red;
        margin: auto 0;
        padding: auto 0;
        right: 0;
        cursor: pointer;
    }

}