.container {
    box-sizing: border-box;
    grid-column: 1;
    grid-row-start: 2;
    height: 100%;
    min-height: 88vh;
    width: auto;
    min-width: 250px;
    background-color: white;
    padding: 2ch;
    border-left: rgb(216, 216, 216) 0.1rem solid;
    filter: drop-shadow(0px 0px 3px rgb(216, 216, 216));
    overflow-y: auto;
    z-index: 5;
    // resize: horizontal;
    
    .selected {
        font-weight: 600;
        color: rgb(24, 106, 200);
    }

    .itemContainer {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin: 1ch;
        padding: 1ch 0;
        cursor: pointer;

        p {
            margin: 0;
            padding: 0;
            padding-left: 1ch;
        }
    }
}