@import './theme';

// color styling
@function getcolor($name) {
    @return map.get($theme-colors, $name)
};

// media-queries


//defualt stylings
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}