.container {
    box-sizing: border-box;
    height: 100%;
    width: auto;
    min-width: 250px;
    background-color: white;
    padding: 2ch;
    border-left: rgb(216, 216, 216) 0.1rem solid;
    filter: drop-shadow(0px 0px 3px rgb(216, 216, 216));
    overflow-y: auto;
    overflow: hidden;
    z-index: 5;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    
    .titleCard {
        height: auto;
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .selected {
        font-weight: 600;
        color: rgb(24, 106, 200);
    }

    .itemContainer {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin: 1ch;
        padding: 1ch 0;
        cursor: pointer;

        p {
            margin: 0;
            padding: 0;
            padding-left: 1ch;
        }
    }

    .actionTray {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .icon {
            font-size: 1.5rem;
            padding: 0.5ch;
            border-radius: 50%;
            background-color: white;
            cursor: pointer;

            &:hover {
                transform: translateY(-2px);
                filter: drop-shadow(0px 1px 3px rgba(100, 100, 100, 0.3));
            }
        }
    }
}