.tray {
    width: 100%;
    height: 80px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: cubic-bezier(0.19, 1, 0.22, 1) 350ms;
    // background-color: rgb(4, 184, 255);
    background-color: rgb(4, 176, 255);
    // background-color: rgba(255, 81, 56, 1);
    // background-color: rgb(216, 216, 216);
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 100%;

    .tagContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    .editContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
    }
}

.requirementTab {
    position: relative;
    padding: 0.7ch 1ch;
    background-color: rgb(0, 0, 0);
    border-radius: 1rem;
    min-width: 4ch;
    height: 3ch;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

    &::before {
        content: '';
        position: absolute;
        bottom: -0.5ch;
        right: -0.5ch;
        height: 2ch;
        width: 2ch;
        border-radius: 50%;
        background-color: grey;
    }
}

.displayEnlarged { 
    height: 100vh;
    z-index: 2;
}

.displayMinimised {
    height: 80px;
}

.incompleteRequirement {
    &::before {
        background-color: red;
    }
}

.completeRequirement {
    &::before {
        background-color: greenyellow;
    }
}

.fullDisplay {
    text-align: left;
    padding: 2ch;
    overflow-y:scroll;

    .nonCombinationContainer {
        height: auto;
        width: 100%;
    }

    .combinationContainer { 
        height: auto;
        width: 100%;
        display: grid;
        grid-template-columns: 5ch 1fr;
        grid-template-rows: 1fr;

        .combinationBar {
            grid-column: 1;
            height: 100%;
            width: 3ch;
            box-sizing: border-box;
            // background-color: rgba(255, 167, 4, 0.87);
            border-right: solid 0.5rem orange;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .moduleReqContainer {
        position: relative;
        width: auto;
        height: auto;

        .checkDiv {
            position: absolute;
            bottom: -0.6ch;
            left: -1ch;
            width: 1.5ch;
            height: 1.5ch;
            border-radius: 50%;
            background-color: lime;
            color: grey;
            border: solid 0.1ch grey ;
            filter: drop-shadow(0px 1px 2px rgba(128, 128, 128, 0.4));
            display: flex;
        }
    }

}