.tray {
    width: 100%;
    height: 80px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: cubic-bezier(0.19, 1, 0.22, 1) 350ms;
    background-color: rgb(4, 184, 255);
    // background-color: rgb(216, 216, 216);
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 100%;

    .tagContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    .editContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
    }
}

.requirementTab {
    position: relative;
    padding: 1ch;
    background-color: grey;
    height: 3ch;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

    &::before {
        content: '';
        position: absolute;
        bottom: -0.5ch;
        right: -0.5ch;
        height: 2ch;
        width: 2ch;
        border-radius: 50%;
        background-color: grey;
    }
}

.displayEnlarged { 
    height: 100vh;
    z-index: 2;
}

.displayMinimised {
    height: 80px;
}

.incompleteRequirement {
    &::before {
        background-color: red;
    }
}

.completeRequirement {
    &::before {
        background-color: greenyellow;
    }
}
