.container {
    width: 3.5ch;
    height: 1.5ch;
    // filter: drop-shadow(0px 0px 1px rgba(0,0,0,0.7));
    border-radius:0.8ch;
    text-align: center;
    margin: auto 2px;

    p {
        color: white;
        font-size: 0.6rem;
        margin: auto;
    }
}

.largeContainer {
    width: 3ch;
    height: 1ch;
    padding: 0.5ch;
    filter: drop-shadow(0px 0px 2px rgba(100, 100, 100, 0.3));
    border-radius : 2ch;
    text-align: center;
    margin: auto 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    transition: cubic-bezier(.5,.62,.22,.87) 150ms;

    p{
        font-size: 1.2ch;
    }

    &:hover {
        
        transform: scale(1.08);
        filter: drop-shadow(0px 3px 2px rgba(100, 100, 100, 0.3));
    }
}