.background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
    background-color: rgba(120,120,120,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    opacity: 1;
    position: absolute;
    padding: 2ch;
    background-color: white;
    color: black;
    border-radius: 1rem;

    .closeIcon {
        position: absolute;
        right: 1rem;
        top: 1rem;
        color:red;
        font-size: 1.2rem;
        padding: 1ch;
        cursor: pointer;
        border-radius: 0.2rem;

        &:hover {
            background-color: rgba(255, 0, 0, 0.4);
        }
    }
}

.optionContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.option {
    height: auto;
    width: auto;
    padding: 0ch 2ch;
    margin: 1ch;
    border-radius: 1rem;
    background-color: rgb(190, 190, 190);
}

.highlight {
    background-color: blue;
}