.main {
    position: relative;
    height:80%;
    max-height: 450px;
    width: 80%;
    max-width: 650px;

    .content {
        position: relative;
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: 100%;
        padding: 1ch 0ch;
        margin: auto;
        width: 100%;

        .listContainer {
            box-sizing: border-box;
            height: 100%;
            width: 100%;
            padding: 0ch 1ch 0ch 3ch;
            // border-right: black solid 1px;
            overflow-y: auto;

            .semesterItem {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                cursor: pointer;

                p {
                    padding-left: 1ch;
                }
            }

            .selected {
                font-weight: 600;
                color: rgb(24, 106, 200)
            }

            .addButton {
                width: auto;
                // background-color: rgba(24, 106, 200);
                // color: white;
                border-radius: 1rem;
                padding: 0.1ch 0ch;
                margin: auto;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;

                p {
                    padding-left: 1ch;
                }
            }
        }

        .inputForm {
            box-sizing: border-box;
            width: 100%;
            height: auto;
            display: flex;
            padding-top: 2ch;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

            .inputItem {
                box-sizing: border-box;
                width: 100%;
                display: flex;
                flex-direction: row;
                padding: 0 2ch;
            }
        }

        .controlContainer {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            padding-top: 2ch;

            .controlButton {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 0 2ch;
                border-radius: 1rem;
                cursor: pointer;

                p {
                    padding-left: 1ch;
                }
            }

            .saveButton {
                background-color: rgba(4, 175, 206, 0.781);

                &:hover {
                    background-color: rgba(1, 161, 189, 0.938);
                }
            }

            .deleteButton {
                background-color: rgba(246, 36, 36, 0.856);
                
                &:hover {
                    background-color: rgba(194, 12, 12, 0.822);
                }
            }
        }
    }
}